# Crie um arquivo .env.local com estes valores antes de rodar o projeto.
VITE_SUPABASE_URL=https://swfqtlrcfzitucsxhdil.supabase.co/rest/v1/
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OJ0lORWk_iUn7Hd6NhrZ-w_rlrGqVb3
